# JData

## 数据整理部分

先引入需要的库

In [1]:
import numpy as np
import pandas as pd

#### 整理用户数据。

把年龄规范化。发现数据里有15岁以下、16-25岁、26-35岁、36-45岁、46-55岁、-1这几种数据。将它们定义为：

{-1:-1,'15岁以下':0,'16-25岁':1,'26-35岁':2,'36-45岁':3,'46-55岁':4,'56岁以上':5}

同时将3个数据异常的账户进行处理(数据为NULL的重新定义为-1)

In [3]:
def deal_age(str):
    return str.replace("15岁以下","0").replace("16-25岁","1").replace("26-35岁","2").replace("36-45岁","3").replace("46-55岁","4").replace("56岁以上","5")

g=file('./data/JData_User_new.csv','w+')
with open('./data/JData_User.csv','r') as f:
    line = f.readline()
    while line:
        line = deal_age(line).replace("NULL","-1")
        g.writelines(line)
        line = f.readline()
    g.close()
!rm ./data/JData_User.csv
!mv ./data/JData_User_new.csv ./data/JData_User.csv

#### 将数据载入pandas
(如果前面不处理会报错)

In [10]:
def load_files():
    global action_files,comment_file,product_file,user_file
    action_files = ["./data/JData_Action_201602.csv","./data/JData_Action_201603.csv","./data/JData_Action_201604.csv"]
    comment_file = "./data/JData_Comment.csv"
    product_file = "./data/JData_Product.csv"
    user_file = "./data/JData_User.csv"
load_files()

#加载用户数据
user_data = pd.read_csv(user_file, header=0)

print user_data
#加载行为数据(报错了，内存不够，考虑其它解决方案)

        user_id  age  sex  user_lv_cd user_reg_tm
0        200001    5    2           5  2016-01-26
1        200002   -1    0           1  2016-01-26
2        200003    3    1           4  2016-01-26
3        200004   -1    2           1  2016-01-26
4        200005    1    0           4  2016-01-26
5        200006    3    2           2  2013-04-10
6        200007    3    2           3  2016-01-26
7        200008   -1    2           3  2016-01-26
8        200009    3    2           2  2016-01-26
9        200010    3    2           3  2016-01-26
10       200011   -1    0           5  2013-04-10
11       200012    3    2           3  2013-04-10
12       200013    2    2           4  2013-04-10
13       200014    2    2           4  2013-04-10
14       200015    2    1           3  2016-01-26
15       200016    2    2           3  2016-01-26
16       200017    3    2           4  2016-01-26
17       200018    1    2           2  2016-01-26
18       200019    1    2           2  2016-01-26
19       200020   -1    2           2  2016-01-26
20       200021    2    2           2  2016-01-26
21       200022    2    0           5  2013-04-10
22       200023    3    2           4  2016-01-26
23       200024    3    2           3  2016-01-26
24       200025    4    2           3  2013-04-10
25       200026    2    2           2  2016-02-04
26       200027    2    1           5  2013-04-10
27       200028    1    2           4  2016-01-26
28       200029   -1    2           2  2016-01-26
29       200030   -1    2           2  2016-01-26
...         ...  ...  ...         ...         ...
105291   305292    2    2           4  2016-01-26
105292   305293   -1    2           1  2016-01-26
105293   305294    2    0           3  2016-01-26
105294   305295    1    2           3  2016-01-26
105295   305296    2    2           5  2016-01-26
105296   305297    3    2           2  2016-01-26
105297   305298   -1    2           2  2016-01-26
105298   305299    2    0           4  2013-04-10
105299   305300    3    2           3  2013-04-10
105300   305301    5    2           5  2016-01-26
105301   305302    2    2           3  2013-04-10
105302   305303    2    2           2  2016-01-26
105303   305304    3    0           4  2013-04-10
105304   305305    3    2           4  2013-04-10
105305   305306    3    2           2  2016-01-26
105306   305307    3    1           4  2016-01-26
105307   305308    3    0           4  2016-01-26
105308   305309    3    2           3  2016-01-26
105309   305310    3    0           2  2016-01-26
105310   305311    1    2           1  2016-01-26
105311   305312    2    0           5  2008-11-01
105312   305313    1    1           3  2016-01-26
105313   305314    2    1           5  2013-04-10
105314   305315    3    2           2  2016-01-26
105315   305316    3    1           2  2016-01-26
105316   305317    2    2           4  2013-04-10
105317   305318    3    2           3  2016-01-26
105318   305319    2    0           3  2016-01-26
105319   305320    3    2           2  2016-01-26
105320   305321    3    2           3  2016-01-26

[105321 rows x 5 columns]

#### TODO